NEXT_PUBLIC_API_URI=  http://localhost:5058
# NEXT_PUBLIC_API_URI=  https://sr-multi-vender-admin-api.onrender.com
NODE_ENV === 'development';
NEXT_PRIVATE_DEBUG_CACHE=1
REVALIDATION_SECRET="fdvbjkdhbjhqwebfiqlwehfiladfnvaehfiluw87`926Y349328WUE8347R923893EW,DE68G54FG368TRG"